@import "tailwindcss";
@theme {
  --color-bonsai-bg1: #f2f2ec;
  --color-bonsai-bg2: #f8f8f5;
  --color-bonsai-green: #879232;
  --color-bonsai-advice-overlay: #90ac24;
  --color-bonsai-dark: #231f20;
}
